@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
.logo{
    color: red;
}
.logo:hover{
  transform: scale(1.1);
}
body {
  color: #f1f1f1;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  background-color: #121212;
}

.top-container {
  height: 40vh;
  background: linear-gradient(135deg, #2e2e2e, #1c1c1c);
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-top: 50px;
}

#form {
  width: 600px;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  background-color: transparent;
  border-radius: 10px;
}

#form h1 {
  font-style: italic;
  text-shadow: 2px 2px 5px #000000;
  color: #ffd700;
}

#form input {
  width: 300px;
  padding: 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #444444;
  background-color: #1c1c1c;
  color: #f1f1f1;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font: inherit;
}

#form button {
  padding: 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #444444;
  background-color: #444444;
  color: #f1f1f1;
  cursor: pointer;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  font: inherit;
}

#form button:hover {
  color: #121212;
  background-color: #ffd700;
  border: 1px solid #ffd700;
  transform: scale(1.1);
}

.errors {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: #ff4b4b;
  background-color: #1c1c1c;
  border: 1px solid #ff4b4b;
  box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.4);
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #00ff00;
  background-color: rgba(0, 128, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 128, 0, 0.4);
}

#download-btn {
  width: fit-content;
  padding: 12px;
  background-color: #444444;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: 1px solid #444444;
  transition: 0.3s ease-out;
  color: #f1f1f1;
}

#download-btn:hover {
  color: #121212;
  background-color: #ffd700;
  border: 1px solid #ffd700;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .bottom-container {
    width: 90%;
    margin: auto;
  }

  #form, .success {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  #form input {
    width: 50%;
  }
}
